APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=change-this-password
APP_SECRET_KEY=change-this-secret
APP_HTTP_PORT=8080
APP_DATABASE_PATH=/data/app.sqlite3
APP_SESSION_TTL_HOURS=24
APP_SESSION_COOKIE_SECURE=false
APP_ACTOR_MOVIE_CHECK_LIMIT=3
APP_UID=1000
APP_GID=1000
# Set this to ghcr.io/huhengbo/javdb115:latest and use docker compose --no-build to run the published image.
JAVDB115_IMAGE=javdb115:local
